*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif; 
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-image: url('Background.avif');
    background-size: 1550px ;
    background-position:center;
    padding:10px;
}
.grad
{
  background: linear-gradient(30deg, red, orange, yellow, green, blue, indigo, violet);
    background-size: 400% 400%;
    animation: gradient-anim 15s ease infinite;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 20px 0px 0px 0px;
}
@keyframes gradient-anim {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
.selecting{
    border-radius: 30px;
    justify-content: space-between;
    padding: 5px 10px;
    font-style: italic;
    position: relative;
    margin-left: 50px ;
    cursor: pointer;
    background: rgb(252, 237, 239);
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background:#fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{
    display:flex;
    align-items: center;
    margin-bottom: 20px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: linear-gradient(0deg,  skyblue, #23d5ab);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    color: #555;
    border-radius: 50%;
    background-image: url(Checked1.jpeg);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through ;

}
ul li.checked::before{
    background-image: url(check.jpg);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}